<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Workout</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <button onclick="window.location.href='/home'">Home</button>
            </li>
            <li>
                <button onclick="window.location.href='/workoutlist'">Workouts</button>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')">
              <button onclick="window.location.href='/exerciselist'">Exercises</button>
            </li>
            <li sec:authorize="isAnonymous()">
                <button onclick="window.location.href='/login'" sec:authorize="isAnonymous()">Login</button>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Log out</button>
                </form>
            </li>
        </ul>
    </nav>
    <div>
        <form th:object="${workout}" th:action="@{/update-workout}" action="#" method="post">
            <!-- Hidden field for workout id -->
            <input type="hidden" name="workoutId" th:field="*{id}" />

                <label for="title">Workout Title</label>
            <input type="text" placeholder="Set Title" id="title" th:field="*{title}" required />
                <label for="date">Date</label>
            <input type="date" placeholder="dd.mm.yyyy" id="date" th:field="*{date}">
                <label for="startTime">Starting Time</label>
            <input type="time" placeholder="hh:mm:ss" id="startTime" th:field="*{startTime}">
                <label for="endTime">Finish Time</label>
            <input type="time" placeholder="hh:mm:ss" id="endTime" th:field="*{endTime}">
            
            <input type="submit" value="Save">
        </form>

        <!-- Title saved succesfully flash-message -->
        <div th:if="${message}" class="flash-message">
            <p th:text="${message}"></p>
        </div>

        <div>
            <h3>Exercises</h3>
            <table>
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th>Weights used</th>
                        <th>Sets</th>
                        <th>Reps</th>
                        <th>Rest inbetween sets (s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="performance : ${performances}">
                        <td th:text="${performance.exercise.name}"></td>
                        <td th:text="${performance.weights}"></td>
                        <td th:text="${performance.sets}"></td>
                        <td th:text="${performance.reps}"></td>
                        <td th:text="${performance.rest}"></td>
                        <td sec:authorize="hasAuthority('USER')"><button><a th:href="@{/delete-performance/{id}(id=${performance.id})}" class="btn btn-xs btn-danger">Delete</a></button></td>
                        <td sec:authorize="hasAuthority('USER')"><button><a th:href="@{/edit-performance/{id}(id=${performance.id})}" class="btn btn-alt">Edit</a></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button type="button" onclick="document.getElementById('performance-form').style.display='block'">
            Add New Performance
        </button>

        <div id="performance-form" style="display:none; margin-top: 20px;">
            <h3>Add New Performance to Workout</h3>
            <form th:action="@{/add-performance}" method="post">
                <!-- Hidden field for workout id -->
                <input type="hidden" name="workoutId" th:value="${workout.id}" />

                <label for="exerciselist">Exercise</label>
                    <select id="exerciselist" name="exerciseId" class="form-control" required >
                        <option value="" disabled selected>Select Exercise</option>
                        <option th:each="exercise: ${exercises}" th:value="${exercise.id}" th:text="${exercise.name}"></option>
                    </select>
                    <div style="clear: both; display: block; height: 10px;"></div>
                <label for="weights">Weights</label>
                    <input type="text" placeholder="Weights in kg" id="weights" required />
                    <div style="clear: both; display: block; height: 10px;"></div>
                <label for="sets">Sets</label>
                    <input type="number" min="0" placeholder="Amount of Sets" id="sets" />
                    <div style="clear: both; display: block; height: 10px;"></div>
                <label for="reps">Reps</label>
                    <input type="number" min="0" placeholder="Amount of Reps in Sets" id="reps" />
                    <div style="clear: both; display: block; height: 10px;"></div>
                <label for="rest">Rest</label>
                    <input type="number" step="10" min="0" placeholder="Rest Time in seconds" id="rest" />
                    <div style="clear: both; display: block; height: 10px;"></div>

                <input type="submit" value="Save Performance">
            </form>
        </div>
    </div>
</body>
</html>