<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <button onclick="window.location.href='/home'">Home</button>
            </li>
            <li>
                <button onclick="window.location.href='/workoutlist'">Workouts</button>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')">
              <button onclick="window.location.href='/exerciselist'">Exercises</button>
            </li>
            <li sec:authorize="isAnonymous()">
                <button onclick="window.location.href='/login'" sec:authorize="isAnonymous()">Login</button>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Log out</button>
                </form>
            </li>
        </ul>
    </nav>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ExerciseId</th>
                    <th>Exercise Name</th>
                </tr>
            </thead>
            <tbody th:each="exercise : ${exercises}">
                <tr>
                    <td th:text="${exercise.id}"></td>
                    <td th:text="${exercise.name}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><button><a th:href="@{/edit-exercise/{id}(id=${exercise.id})}" class="btn btn-alt">Edit</a></button></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><button><a th:href="@{/delete-exercise/{id}(id=${exercise.id})}" class="btn btn-xs btn-danger">Delete</a></button></td>
                </tr>
            </tbody>
        </table>
        <td sec:authorize="hasAuthority('ADMIN')">
            <button class="btn btn-primary" onclick="window.location.href='/new-exercise'">Add new Exercise</button>
        </td>
    </div>
</body>
</html>